# Build directories
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Logs and temporary files
[Ll]og/
*.log
*.tmp

# IDE-specific files
.vs/
*.user
*.suo

# Binary and cache files
*.pdb
*.cache
*.coverage

# Node.js dependencies
node_modules/

# NuGet packages
*.nupkg
*.snupkg

# Publish settings
*.publishsettings

# Database files
*.dbmdl
*.mdf
*.ldf
*.ndf